.App {
  text-align: center;
  padding: 20px;
  background-color: rgb(250, 242, 222);
}

.App-header {
  color: rgb(12, 12, 12);
}
.App-logo {
  width: 300px;
  display: block;
  margin: auto;
}
.search-example {
  font-size: 12px;
  padding: 10px 0;
}
.box-size {
  max-width: 50%;
}

@media (max-width: 800px) {
  .App {
    padding: 15px 8px;
  }
  .App-logo {
    width: 200px;
    padding: 20px 10px;
    margin-top: 10px;
    /* margin-top: 10px; */
  }
  .box-size {
    max-width: 100%;
  }
}
