.App {
  text-align: center;
  margin: 20px;
}

.App-header {
  color: rgb(12, 12, 12);
}
.App-logo {
  width: 300px;
  display: block;
  margin: auto;
}

@media (max-width: 600px) {
  .App {
    margin: 15px 8px;
  }
  .App-logo {
    width: 200px;
    /* margin-top: 10px; */
  }
}
